html {
    overflow-y: scroll;
}

#todo-List {
    margin-bottom: 30px;
}

.strike {
    text-decoration: line-through;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}